<html>
<head>
    <title>Sound graph</title>
    <script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/howler.min.js"></script>
    <script>
      var socket = io();
      socket.on("event", function(message){
	    play_sound(40,'add',1);
	  });
	  var celesta = [],
          clav = [],
          swells = [];
      var sound_totals = 51,
          note_overlap = 15,
          note_timeout = 300,
          current_notes = 0;
        // TODO: Volume slider?
        var loaded_sounds = 0
        var sound_load = function(r) {
            loaded_sounds += 1
            if (loaded_sounds == sound_totals) {
                all_loaded = true
                $('#loading').remove()
                console.log('Loading complete')
            } else {
                console.log('Loading : ' + loaded_sounds + ' files out of ' + sound_totals)
            }
        }
        
	   // load celesta and clav sounds
        for (var i = 1; i <= 24; i++) {
            if (i > 9) {
                fn = 'c0' + i;
            } else {
                fn = 'c00' + i;
            }
            celesta.push(new Howl({
                urls : ['sounds/celesta/' + fn + '.ogg',
                        'sounds/celesta/' + fn + '.mp3'],
                volume : 0.2,
                onload : sound_load(),
            }))
            clav.push(new Howl({
                urls : ['sounds/clav/' + fn + '.ogg',
                        'sounds/clav/' + fn + '.mp3'],
                volume : 0.2,
                onload : sound_load(),
            }))
        }

        // load swell sounds
        for (var i = 1; i <= 3; i++) {
            swells.push(new Howl({
                urls : ['sounds/swells/swell' + i + '.ogg',
                        'sounds/swells/swell' + i + '.mp3'],
                volume : 1,
                onload : sound_load(),
            }))
        }
      function play_sound(size, type, volume) {
		var max_pitch = 100.0;
		var log_used = 1.0715307808111486871978099;
		var pitch = 100 - Math.min(max_pitch, Math.log(size + log_used) / Math.log(log_used));
		var index = Math.floor(pitch / 100.0 * Object.keys(celesta).length);
		var fuzz = Math.floor(Math.random() * 4) - 2;
		index += fuzz;
		index = Math.min(Object.keys(celesta).length - 1, index);
		index = Math.max(1, index);
		if (current_notes < note_overlap) {
			current_notes++;
			if (type == 'incoming') {
				celesta[index].play();
			} else {
				clav[index].play();
			}
			setTimeout(function() {
				current_notes--;
			}, note_timeout);
		}
	}
    </script>
</head>
<body>
</body>
</html>
